.offers{
    width: 80%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0 14px;
    margin-bottom: 150px;
}

.offers div{
    margin: 10px 20px;
}
.offers img{
    width: 100%;
}
